body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 40px;
}
a{ 
    text-decoration: none;
    color: #000000;
}
.main-header{
    background: radial-gradient(#fff,#ffd6d6);
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    border-bottom: #8a8a8a;
    border-bottom-style: solid;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header-top{
    flex-basis: 40%;
    min-width: 300px;
}
.header-top img{
    max-width: 90%;
    padding: 50px 0;
}
.header-top h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.footer{
    background: rgb(31, 31, 31);
    color: #8a8a8a;
    font-size: 14px;
    padding: 5px 0 10px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;

}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 10px;
    text-align: right;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 15px;
}
.footer-col-1{
    flex: 1;
    text-align: center;
}
.footer-col-1 img{
    width: 180px;
    margin-bottom: 15px;
}
.footer-col-2, .footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer hr{
    border:none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.fa-twitter-square, .fa-facebook-square, .fa-instagram{
    color: white;
}
.footerTitle{
    padding-right: 5px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
h4{
    font-weight: normal;
    padding-left: 780px;
    padding-bottom: 2px;
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.row-2 h2{
    font-weight: 500;
}
.items{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    text-align: center;
    border: #666666 ;
    border-style: solid;
    border-radius: 4px;
}
.items:hover{
    transform: translateY(-5px);
}
.title{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.items img{
    height: 184px;
    width: 204px;
}
button{
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 250;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
h6{
    text-align: center;
    font-size: 30px;
}
.Copyright{
    text-align: center;
}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 60px;
    padding: 30px 0;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-h1{
    font-size: 50px;
    line-height: 60;
    margin: 25px 0;
}
.Button1{
    display: inline-block;
    background: #ff3b3b;
    color: rgba(255, 255, 255, 0.76);
    padding: 10px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-weight: bold;
}
.single-product{
    margin-top: 40px;
}
.single-product .Row1 img{
    padding: 0;
}
.single-product .Row1{
   padding: 20px; 
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
    font-size: 15px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
.product1price{
    font-size: 20px;
    font-weight: 500;
}
.single-product h3{
    font-size: 22px;
}
.single-product p{
    font-size: 18px;
}
.fa-circle{
    margin-top: 2px;
}
.footer img{
    width: 200px;
    height: 140px;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}
.product-title{
    width: 47%;
    border-bottom: 1px solid lightgrey;
}
.prices{
    width: 15%;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    text-align: center;
    display: flex;
}
.quantity{
    width: 30%;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    display: flex;
}
.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}
.productname{
    width: 30%;
}
.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 270px;
}
.total{
    width: 10%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.container2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
.cart-row {
    display: flex;
}
.footerbottom {
    position: absolute;
    bottom: 0;
    width:100%;
}
.basketTotalContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: end;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
.delete{
    width: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}
